click @ file:///tmp/build/80754af9/click_1646038465422/work
coloredlogs @ file:///home/conda/feedstock_root/build_artifacts/coloredlogs_1643220139154/work
Flask @ file:///croot/flask_1671217343254/work
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1609957731919/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1685164110706/work
humanfriendly @ file:///home/conda/feedstock_root/build_artifacts/humanfriendly_1696713070881/work
importlib-metadata @ file:///croot/importlib-metadata_1678997070253/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020413938/work
onnxruntime @ file:///croot/onnxruntime_1689679117497/work/onnxruntime-1.15.1-py3-none-any.whl#sha256=a96ec3c161b298ab7acc87d8236c9c6db074ce8cbb2c71132193eca13a22af28
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
Pillow @ file:///croot/pillow_1696580024257/work
protobuf==3.15.8
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
Werkzeug @ file:///croot/werkzeug_1679489717957/work
zipp @ file:///croot/zipp_1672387121353/work
